.App {
  text-align: center;
}


.bulb{
  border: 1px solid red;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
}

.on{
  background-color: yellow;
}
.off{
  background-color: black;
}

.productList{
  width: 400px;
  height: 200px;
  margin: 5px;
  background: #eaeded;
  /* border: 1px solid gray; */
  display: inline-block;
}
.image{
  width: 150px;
  height: 75px;
  background-color: #eaf6f6;
  margin-left: 125px;
  text-align: center;
  padding-top: 25px;
}
.title{
  font-size: 18px;
  font-weight: bold;
}
.price{
  font-style: italic;
}
h3{
  color:cadetblue;
}